<app-nav></app-nav>
<div class="container">
  <div class="options-menu">
    <h2>Menú</h2>
    <div class="btns-menu">
      <ul class="list-btn">
        <li class="list-item">
          <button class="btn btn-todos" id="ver-todos">Ver Todos</button>
        </li>
        <li class="list-item">
          <button class="btn btn-header burgers" id="burguers">
            Hamburguesas
          </button>
        </li>
        <li class="list-item">
          <button class="btn btn-header pizzas" id="pizzas">Pizzas</button>
        </li>
        <li class="list-item">
          <button class="btn btn-header perros" id="perros-calientes">
            Perros Calientes
          </button>
        </li>
        <li class="list-item">
          <button class="btn btn-header bebidas" id="bebidas">Bebidas</button>
        </li>
        <li class="list-item">
          <button class="btn btn-header adiciones" id="adiciones">
            Adiciones
          </button>
        </li>
      </ul>
    </div>
  </div>

  <div class="cards">
    <div class="card">
      <app-cards></app-cards>
    </div>
    <div class="card">
      <app-cards></app-cards>
    </div>
    <div class="card">
      <app-cards></app-cards>
    </div>
  </div>
</div>
