<app-nav></app-nav>
<div class="container">
  <div class="about-us-info">
    <h1>Sobre Nosotros</h1>
    <p>
      DeliFast es un lugar donde la rapidez se combina con el sabor. Nuestro
      menú está lleno de opciones deliciosas y satisfactorias para aquellos que
      buscan una comida rápida sin comprometer el gusto. Desde hamburguesas
      jugosas hasta crujientes papas fritas y refrescantes bebidas, en DeliFast
      encontrarás todo lo que necesitas para saciar tu hambre en un abrir y
      cerrar de ojos.
    </p>
  </div>
</div>

<div class="container-valoraciones">
  <div class="info-valoracion">
    <h3>Valoraciones</h3>
    <p>Conoce los testimonios de nuestros clientes</p>
  </div>
  <div class="cartas-valoracion" id="cartas-valoracion">
    <div class="carta" *ngFor="let comentario of comentarios">
      <h5>"{{ comentario.com }}"</h5>
      <div class="usuario-carta">
        <p>
          <b>{{ comentario.nombre }}</b>
        </p>
        <p>
          <span>{{ comentario.correo }}</span>
        </p>
      </div>
    </div>
  </div>
  <div class="container-formulario">
    <form class="form" (ngSubmit)="agregarComentario()">
      <h3>Dejanos tus comentarios</h3>
      <div class="input-form">
        <div class="info-cliente">
          <label for="txt_nombre">Nombre</label>
          <input
            type="text"
            name="txt_nombre"
            class="nombre"
            #nombreInput
            placeholder="Nombre"
            [(ngModel)]="txt_nombre"
          />
          <label for="txt_correo">Correo</label>
          <input
            type="text"
            name="txt_correo"
            class="correo"
            placeholder="Correo"
            [(ngModel)]="txt_correo"
          />
        </div>
        <div class="comentario-cliente">
          <label for="text_comentario">Comentarios</label>
          <input
            type="text"
            name="txt_comentario"
            class="comentario"
            placeholder="Ingresa tú comentario"
            [(ngModel)]="txt_comentario"
          />
        </div>
      </div>
      <div class="btn-enviar">
        <button class="enviar-comentario">Enviar</button>
      </div>
    </form>
  </div>
</div>
